<div class="container">

	<h1 class"Jumbotron-heading"> EPR Contact Us </h1>

<div class="container">

	<div class="container">
		<div class="row">
		<div class="col">
			<p> Contact Us! </p>
		</div>

		<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.."> <p>

    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.."> <p>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" placeholder="Country.."> <p>
   
    <label for="subject">Subject:</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea> <p>

    <input type="submit" value="Submit" formaction="static_pages_home"> <p>


  </form>

</div>

	</div>
</div>

